
<h1 class="text-center">Coverages</h1>
<div class="container">
    <div class="row">
        <app-coverage class="col-lg-3" *ngFor="let premium of coverages;index as i" [premium]="premium" [isChecked]="selectedCoverageFlags[i]" [index]="i"
            (coverage)="onCoverage($event)">
        </app-coverage>
    </div>
</div>

<h1 class="text-center mt-5 mb-5">Add-On Coverages</h1>
<div class="container">
    <div class="row">
        <app-add-on class="col-lg-3" *ngFor="let addOn of addOns;index as i " [addOnValue]="addOn" (addOn)="onAddOnselection($event)" [isSelected]="selectedAddOnFlags[i]" [index]="i"></app-add-on>
    </div>
</div>

<div class="mt-5 ml-5 total-premium"> 
    <h1>Total premium = ${{totalPremium}} </h1>
</div>